<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Demo for Avantica</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/helper.js" ></script>
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Student Form</h1>
			<br/>
			<form th:action="@{/students/addstudent}" th:object="${estudianteModel}" method="POST">
				<input type="hidden" th:field="*{id}"></input>
				First Name <input type="text" class="form-control" th:field="*{firstname}" th:value="${firstname}" onkeypress='return validarCadenaOnlyText(event, this)'></input>
				<br/>
				Last Name <input type="text" class="form-control" th:field="*{lastname}" th:value="${lastname}" onkeypress='return validarCadenaOnlyText(event, this)'></input>
				<br/>
				
				
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ok
				</button>
				
			</form>
			<a href="#" th:href="@{/students/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
				</button>
			</a>
			
		</div>
	</div>

</body>
</html>